@use "styles/variables";
@use "styles/functions";
@use "sass:color";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: fit-content;
  border-radius: variables.$radius-md;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  position: relative;

  // Variants
  &--contained {
    color: white;

    &.button--primary {
      background-color: variables.$color-primary;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
        rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

      &:hover:not(:disabled) {
        background-color: variables.$color-primary-600;
      }
    }

    &.button--secondary {
      background-color: variables.$color-secondary;

      &:hover:not(:disabled) {
        background-color: variables.$color-secondary-600;
      }
    }

    &.button--gray {
      background-color: variables.$color-gray-100;
      color: variables.$color-gray-700;

      &:hover:not(:disabled) {
        background-color: variables.$color-gray-200;
      }
    }

    &.button--error {
      background-color: variables.$color-error;

      &:hover:not(:disabled) {
        background-color: variables.$color-error-600;
      }
    }

    &.button--success {
      background-color: variables.$color-success;

      &:hover:not(:disabled) {
        background-color: variables.$color-success-600;
      }
    }
  }

  &--outlined {
    background-color: white;
    outline: 2px solid;

    &.button--primary {
      outline-color: variables.$color-primary;
      color: variables.$color-primary;

      &:hover:not(:disabled) {
        background-color: variables.$color-primary-100;
      }
    }

    &.button--secondary {
      outline-color: variables.$color-secondary;
      color: variables.$color-secondary;

      &:hover:not(:disabled) {
        background-color: variables.$color-secondary-100;
      }
    }

    &.button--gray {
      outline-color: variables.$color-gray-100;
      color: variables.$color-gray-700;

      &:hover:not(:disabled) {
        background-color: variables.$color-gray-100;
        outline-color: variables.$color-gray-200;
      }
    }

    &.button--error {
      outline-color: variables.$color-error;
      color: variables.$color-error;

      &:hover:not(:disabled) {
        background-color: variables.$color-error-100;
      }
    }

    &.button--success {
      outline-color: variables.$color-success;
      color: variables.$color-success;

      &:hover:not(:disabled) {
        background-color: variables.$color-success-100;
      }
    }
  }

  &--ghost {
    background-color: transparent;

    &.button--primary {
      color: variables.$color-primary;

      &:hover:not(:disabled) {
        background-color: variables.$color-primary-100;
      }
    }

    &.button--secondary {
      color: variables.$color-secondary;

      &:hover:not(:disabled) {
        background-color: variables.$color-secondary-100;
      }
    }

    &.button--gray {
      color: variables.$color-gray-700;

      &:hover:not(:disabled) {
        background-color: variables.$color-gray-100;
      }
    }

    &.button--error {
      color: variables.$color-error;

      &:hover:not(:disabled) {
        background-color: variables.$color-error-100;
      }
    }

    &.button--success {
      color: variables.$color-success;

      &:hover:not(:disabled) {
        background-color: variables.$color-success-100;
      }
    }
  }

  // Sizes
  &--small {
    font-size: variables.$font-size-sm;
    padding: functions.spacing(2) functions.spacing(3);
    height: functions.spacing(8);
    border-radius: variables.$radius-sm;
  }

  &--medium {
    font-size: variables.$font-size-md;
    padding: functions.spacing(3) functions.spacing(4);
    height: functions.spacing(10);
  }

  &--large {
    font-size: variables.$font-size-lg;
    padding: functions.spacing(4) functions.spacing(5);
    height: functions.spacing(12);
  }

  // Modifiers
  &--full-width {
    width: 100%;
  }

  &--disabled {
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.7;
  }

  &__loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
