@use "@/styles/variables";
@use "@/styles/functions";

.password-tooltip {
  position: relative;

  &__popup {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    margin-top: functions.spacing(1);
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: variables.$radius-md;
    padding: functions.spacing(4);
    width: 260px;
    font-size: variables.$font-size-sm;
    line-height: 1.5;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;

    &--visible {
      opacity: 1;
      visibility: visible;
    }

    &-title {
      display: block;
      margin-bottom: functions.spacing(2);
      font-size: variables.$font-size-md;
      color: #111827;
    }

    &-list {
      margin-top: functions.spacing(2);

      &-item {
        margin-bottom: functions.spacing(1);
        padding-left: functions.spacing(6);
        position: relative;

        &::before {
          content: "•";
          position: absolute;
          left: 0;
          top: -5px;
          color: variables.$color-primary;
          font-size: variables.$font-size-lg;
        }

        &--passed {
          color: variables.$color-gray-300;
          text-decoration: line-through;

          &::before {
            content: "✓";
          }
        }
      }
    }

    &-bar {
      display: flex;
      gap: 4px;
      margin-bottom: functions.spacing(4);

      &-dot {
        flex: 1;
        height: 4px;
        background-color: #e5e7eb;
        border-radius: 2px;

        &--filled-1 {
          background-color: variables.$color-error;
        }

        &--filled-2 {
          background-color: #eab308;
        }

        &--filled-3 {
          background-color: variables.$color-success-400;
        }

        &--filled-4 {
          background-color: variables.$color-success-600;
        }
      }
    }
  }
}
