@use "styles/variables";
@use "styles/functions";

.login-form__wrapper {
  gap: functions.spacing(4);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: functions.spacing(4);

  &__forget {
    color: variables.$primary;
    text-decoration: none;
    font-size: variables.$font-size-sm;
    width: fit-content;

    &:hover {
      text-decoration: underline;
    }
  }
}
