@use "sass:color";
@use "@/styles/variables";
@use "styles/functions";

$transition-speed: 0.3s;

.input-field {
  gap: 5px;
  position: relative;
  font-family: "Inter", sans-serif;

  &.full-width {
    width: 100%;
  }

  &.error {
    .input-container {
      border-color: variables.$error-color;
    }

    .label {
      color: variables.$error-color;
    }
  }

  &.disabled {
    .input-container {
      background: variables.$disabled-color;
      cursor: not-allowed;
    }

    .input {
      cursor: not-allowed;
      background: transparent;
    }

    .label {
      color: color.adjust(variables.$disabled-color, $lightness: -10%);
    }
  }
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid variables.$border-color;
  border-radius: variables.$border-radius-sm;
  padding: functions.spacing() functions.spacing(3);
  transition: border-color $transition-speed;
  background: white;

  &:focus-within {
    border-color: variables.$primary;
  }
}

.input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding: 8px 0;

  // If a label exists, hide the placeholder by default
  .has-label &::placeholder {
    color: transparent;
  }

  // Show the placeholder only when the label is floating
  .has-label &:focus::placeholder,
  .has-label &:not(:placeholder-shown) ~ .label + &::placeholder {
    color: variables.$text-muted-color;
  }

  &:focus ~ .label,
  &:not(:placeholder-shown) ~ .label,
  &:-webkit-autofill ~ .label {
    // Handle autofill case
    top: 4px;
    font-size: variables.$font-size-xs;
    color: variables.$primary;
  }
}

// Ensure auto-filled input is properly styled
.input:-webkit-autofill {
  background-clip: text;
}

.label {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: variables.$border-color;
  background: white;
  padding: 0 5px;
  transition: all $transition-speed ease-in-out;
  pointer-events: none;
}

.helper-text {
  font-size: variables.$font-size-sm;
  color: variables.$error-color;
  margin-left: 4px;
}
