@use "@/styles/variables";
@use "styles/functions";

.login-form {
  display: flex;
  flex-direction: column;
  gap: functions.spacing(4);

  &__remember {
    font-size: variables.$font-size-sm;
    margin-top: 5px;

    &-link {
      color: variables.$primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__button {
    width: 100%;
    padding: 12px;
    cursor: pointer;
    border: none;
    margin-top: 10px;

    &--login {
      background: variables.$primary;
      color: white;
    }

    &--google {
      background: white;
      border: 1px solid variables.$border-color;
      color: black;
    }

    &--github {
      background: black;
      color: white;
    }
  }

  &__or {
    margin: 15px 0;
    font-size: variables.$font-size-sm;
    color: gray;
    text-align: center;
  }
}
