@use "styles/variables";
@use "styles/functions";
@use "styles/mixins";

.login-form__wrapper {
  gap: functions.spacing(4);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: functions.spacing(4);

  &__forget {
    color: variables.$primary;
    text-decoration: none;
    font-size: variables.$font-size-sm;

    &:hover {
      text-decoration: underline;
    }
  }

  &__social-providers {
    gap: functions.spacing(4);

    @include mixins.respond-to(xs) {
      flex-direction: column;
    }
  }

  &__provider-button {
    background-color: white;
    border: 1px solid variables.$border-color;
    box-shadow: none;
    color: variables.$text-color;
    font-size: variables.$font-size-xs;
    gap: functions.spacing(2);

    &:hover {
      background-color: variables.$lightest-gray !important;
    }
  }

  &__or-container {
    &::after {
      border-bottom: 1px solid variables.$border-color;
      content: "";
      display: block;
      width: 50%;
    }
    &::before {
      border-bottom: 1px solid variables.$border-color;
      content: "";
      display: block;
      width: 50%;
    }
  }

  &__or {
    font-size: variables.$font-size-sm;
    color: variables.$text-muted-color;
    padding: 0 functions.spacing(2);
  }
}
