@use "styles/functions";
@use "styles/variables";

.list-item {
  width: variables.$list-width;
  min-width: variables.$list-width;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: variables.$color-gray-100;
  border-radius: variables.$radius-md;
  padding: functions.spacing(2);
  cursor: pointer;

  &__header {
    margin-bottom: functions.spacing();
    display: flex;
    align-items: center;
    gap: functions.spacing(2);
  }

  &__title {
    font-size: 1.15rem;
    color: variables.$color-text;
    padding: functions.spacing(2) functions.spacing(3);
    background: transparent;
    outline: none;
    border-radius: variables.$radius-sm;

    &:focus {
      background-color: variables.$color-gray-50;
    }
  }

  &__delete-button {
    width: 32px;
    height: 32px;
    padding: 0;
  }
}
