@use "styles/functions";
@use "styles/variables";

.board {
  display: flex;
  padding: functions.spacing(4);
  gap: functions.spacing(3);

  &__list-creator {
    width: variables.$list-width;

    :global(.expandable-item-creator-add-button) {
      padding-block: functions.spacing(6);
    }
  }
}
