@use "styles/functions";
@use "styles/variables";

.board {
  display: flex;
  flex: 1;
  overflow: auto;
  padding: functions.spacing(3);
  gap: functions.spacing(3);

  &__list-creator {
    width: variables.$list-width;
    min-width: variables.$list-width;

    :global(.expandable-item-creator-add-button) {
      padding-block: functions.spacing(6);
    }

    :global(.expandable-item-creator-form) {
      padding: functions.spacing(2);
    }
  }
}
