@use "styles/variables";
@use "styles/functions";
@use "styles/mixins";

.auth-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: variables.$color-background-light;
  padding: functions.spacing(6);
  padding-left: 0;

  &__form-section {
    width: 50%;
  }

  &__card {
    background: white;
    padding: functions.spacing(8);
    border-radius: variables.$radius-md;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
  }

  &__title {
    font-size: variables.$font-size-2xl;
    font-weight: bold;
    margin-bottom: functions.spacing(4);
    text-align: center;
  }

  &__description {
    color: variables.$color-text-muted;
    margin-bottom: functions.spacing(8);
    text-align: center;
  }

  &__footer {
    margin-top: functions.spacing(8);
    color: variables.$color-text-muted;

    &-link {
      color: variables.$color-primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__welcome-section {
    width: 50%;
    background: variables.$color-primary;
    color: white;
    text-align: center;
    height: 100%;
    border-radius: variables.$radius-2xl;
    padding: functions.spacing(20);

    h2 {
      margin-bottom: functions.spacing(6);
      font-size: variables.$font-size-4xl;
    }

    p {
      line-height: functions.spacing(10);
      font-size: 1.8rem;
    }
  }

  &__welcome-content,
  &__animation {
    height: 50%;
  }

  // Mobile styles
  @include mixins.respond-to(xs) {
    &__card {
      width: 100%;
    }

    &__description {
      font-size: variables.$font-size-sm;
    }

    &__title {
      font-size: variables.$font-size-xl;
    }
  }

  // Tablet styles
  @include mixins.respond-to(md) {
    padding-left: functions.spacing(6);

    &__form-section {
      width: 100%;
    }

    &__welcome-section {
      display: none;
    }
  }

  // Desktop styles
  @include mixins.respond-to(xl) {
    &__welcome-section {
      padding: functions.spacing(15);

      h2 {
        font-size: variables.$font-size-3xl;
      }

      p {
        font-size: variables.$font-size-lg;
      }
    }
  }
}
