@use "styles/variables";
@use "styles/functions";

.expandable-item-creator {
  &__add-button {
    width: 100%;
    height: 2rem;
    padding: functions.spacing(5) functions.spacing(2);
    justify-content: left;
  }

  &__add-icon {
    font-size: variables.$font-size-2xl;
    margin-right: functions.spacing(2);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: functions.spacing(2);
    background-color: variables.$color-gray-100;
    border-radius: variables.$radius-md;
    padding: functions.spacing(2);
    width: 100%;
  }

  &__cancel-button {
    font-size: variables.$font-size-xl;
    width: 40px;
    padding: 0;
  }
}
