@use "styles/variables";
@use "@/styles/functions";

.app-logo__title {
  font-weight: 700;
  color: variables.$color-primary;

  &--sm {
    font-size: variables.$font-size-md;
    margin-left: functions.spacing(-2);
  }

  &--md {
    font-size: variables.$font-size-2xl;
    margin-left: functions.spacing(-4);
  }
}
