@use "styles/functions";
@use "styles/variables";

.list-item {
  width: variables.$list-width;
  min-width: variables.$list-width;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: variables.$color-gray-100;
  border-radius: variables.$radius-md;
  padding: functions.spacing(2);
  cursor: pointer;

  &__header {
    margin-bottom: functions.spacing();
    display: flex;
    gap: functions.spacing(2);
  }

  &__delete-button {
    width: 32px;
    height: 32px;
    padding: 0;
    margin-top: functions.spacing();
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: functions.spacing(2);
    list-style: none;
    padding: 0;
    margin: functions.spacing() 0 functions.spacing(2);
  }
}
