@use "styles/variables";

.tooltip {
  display: inline-block;

  &__content {
    position: fixed;
    background-color: variables.$color-gray-800;
    color: #fff;
    padding: 6px 10px;
    border-radius: variables.$radius-sm;
    font-size: variables.$font-size-sm;
    white-space: nowrap;
    z-index: 9999;
    pointer-events: none;
  }
}
