@use "sass:color";
@use "functions";

// Colors
$primary: #4070ed;
$primary-light: color.scale($primary, $lightness: 30%);
$primary-lighter: color.scale($primary, $lightness: 60%);
$primary-lightest: color.scale($primary, $lightness: 95%);
$primary-dark: color.scale($primary, $lightness: -20%);

$secondary: #636363;
$secondary-light: color.scale($secondary, $lightness: 20%);
$secondary-dark: color.scale($secondary, $lightness: -20%);

$error-color: #d32f2f;
$error-light: color.scale($error-color, $lightness: 20%);
$error-dark: color.scale($error-color, $lightness: -20%);

$text-color: #333;
$text-muted-color: #878787;
$border-color: #ccc;
$disabled-color: #00000042;
$disabled-background: #0000001f;

// Font Sizes
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 2rem;
$font-size-3xl: 3rem;
$font-size-4xl: 4rem;

// Border Radius
$border-radius-sm: functions.spacing();
$border-radius-md: functions.spacing(2);
$border-radius-lg: functions.spacing(3);
$border-radius-xl: functions.spacing(4);
$border-radius-2xl: functions.spacing(5);
$border-radius-full: functions.spacing(10);
