@use "styles/functions";
@use "styles/variables";

.card {
  position: relative;
  display: flex;
  gap: functions.spacing(2);
  background: variables.$color-gray-50;
  outline: 1px solid variables.$color-gray-200;
  padding: functions.spacing(3);
  border-radius: variables.$radius-md;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  &:hover {
    outline: 2px solid variables.$color-primary;

    .card__circle-icon {
      opacity: 1;
    }

    .card__not-completed-title {
      transform: translateX(0);
    }

    .card__delete-tooltip {
      display: block;
    }
  }

  &__status {
    font-size: 18px;
    height: 18px;
  }

  &__check-icon {
    color: variables.$color-success;
  }

  &__circle-icon {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  &__not-completed-title {
    transform: translateX(-24px);
    transition: transform 0.4s ease-in-out;
  }

  &__delete-tooltip {
    display: none;
    position: absolute;
    top: 6;
    right: 4;
    z-index: 10;
  }

  &__delete-button {
    border-radius: 100%;
    padding: 0;
    width: 25px;
    height: 25px;
    font-size: variables.$font-size-sm;
    background: transparent !important;
  }
}
