@use "styles/functions";
@use "styles/variables";

.card {
  position: relative;
  display: flex;
  gap: functions.spacing(2);
  background: variables.$color-gray-50;
  outline: 1px solid variables.$color-gray-200;
  padding: functions.spacing(3);
  border-radius: variables.$radius-md;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  &:hover {
    outline: 2px solid variables.$color-primary;

    // .card__circle-icon {
    //   opacity: 1;
    // }

    .card__not-completed-title {
      transform: translateX(0);
    }

    .card__actions {
      display: flex;
      gap: functions.spacing(1);
    }

    :global(.not-completed-tooltip) {
      opacity: 1;
    }
  }

  &__status {
    font-size: 18px;
    height: 18px;

    :global(.not-completed-tooltip) {
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
    }
  }

  &__not-completed-title {
    transform: translateX(-24px);
    transition: transform 0.4s ease-in-out;
  }

  &__actions {
    display: none;
    position: absolute;
    top: 8;
    right: 4;
    z-index: 10;
    background: variables.$color-gray-50;
  }

  &__action-button {
    border-radius: 100%;
    padding: 0;
    width: 25px;
    height: 25px;
    font-size: variables.$font-size-sm;
    background: transparent !important;

    &:hover {
      background-color: variables.$color-gray-100 !important;
    }
  }
}
